html,
body {
  width: 550px;
  /* background-color: #333333; */
  background-color: rgb(14, 41, 65);
  /* color: rgb(7, 50, 84); */
  /* background-color: #24272c; */
  /* background-color: #213052; */
  background-color: #29334a;
  color: whitesmoke;
  height: auto;
  margin: 0px;
  overflow-x: hidden;
  

  font-family: "Trebuchet MS", sans-serif;
}

header {
  margin: 0px;
  max-width: 90%;
}

.mainTitle {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

button {
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  /* background-color: rgb(24, 156, 180); */

  border-radius: 10px;
}

.topTab {
  border: 1px solid white;
  border-radius: 5px;
  margin: 0px;
  margin-top: 12px;
  /* padding: 10px; */

  padding: 30px;
  padding-top: 7px;

  width: 85%;
  /* background-color: rgb(7, 50, 84); */
  /* background-color: #1f2d4c; */
  background-color: #24272c;
}

.tabTitle {
  display: inline-block;
  margin-right: 10px;
  clear: both;
  font-size: 25px;
}

.tabsCount {
  float: right;
  font-size: 16px;
  /* clear: both; */
}

.tabButton {
  margin: 5px;
  /* width: 30%; */
  width: calc(100% / 2.3 - 10px);
  margin-top: 15px;

  height: 35px;
}
#singularFunctions {
  align-items: center;
}

.singularURLButton {
  /* width: 50%; */
  /* margin-left: 25%;  */
  margin-left: 15px;
  margin-right: 7px;
  margin-top: 10px;
  height: 35px;
  font-size: 17px;
  /* color: red; */
}

#totalNumber {
  /* width: 100%; */
  text-align: center;
  font-size: 24px;
}

/* a {
  margin: 10px;
  display: inline-block;
} */

.switch-tabs {
  padding-left: 10px;
}

.switch-tabs a {
  display: block;
}

.panel {
  margin: 10px;
  margin-top: 0px;
}
