html,
body {
  width: 550px;
  background-color: #333333;
  color: whitesmoke;
  height: auto;

}

button {
  font-size: 14px;
  text-align: center;

  border-radius: 5px;
}

.tabButton {
  margin: 5px;
  /* width: 30%; */
  width: calc(100% / 3 - 10px);
}

.singularURLButton{
	width: 50%;
	margin-right: 25%;
	color: red;
}

.mainTitle {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

#totalNumber {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

/* a {
  margin: 10px;
  display: inline-block;
} */

.switch-tabs {
  padding-left: 10px;
}

.switch-tabs a {
  display: block;
}

.panel {
  margin: 10px;
}

.topTab {
  border: 1px dashed white;
  margin: 10px;
  padding: 10px;
  width: 85%;
}

.tabTitle {
  display: inline-block;
  margin-right: 10px;
  clear: both;
}
.tabsCount {
  float: right;
  font-size: 16px;
  /* clear: both; */
}
